                        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
                        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
                        * {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                        }
                        
                        body {
                            font-family: 'Ubuntu', sans-serif;
                        }
                        
                        h1 {
                            font-size: 3.5rem;
                            font-weight: 800;
                        }
                        
                        h2 {
                            font-size: 1.8rem;
                            font-weight: 600;
                        }
                        
                        h3 {
                            font-size: 1.4rem;
                            font-weight: 800;
                        }
                        
                        h4 {
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        
                        h5 {
                            font-size: 1rem;
                            font-weight: 400;
                        }
                        
                        h6 {
                            color: #d8d8d8;
                        }
                        
                        hr {
                            width: 3.5rem;
                            height: 2px;
                            background: rgb(255, 114, 137);
                        }
                        
                        button.add {
                            font-size: 0.7rem;
                            font-weight: 800;
                            outline: none;
                            border: solid 2px rgb(255, 108, 132);
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: all 0.3s ease;
                            opacity: 1;
                            background-color: rgb(255, 108, 132);
                            padding: 10px 30px;
                        }
                        
                        button.add:hover {
                            background: rgb(255, 108, 132);
                            color: #fff;
                        }
                        
                        button.now {
                            font-size: 0.8rem;
                            font-weight: 700;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            padding: 13px 30px;
                            text-transform: uppercase;
                            transition: all 0.3s ease;
                            border: solid 2px pink;
                            color: rgb(253, 200, 209);
                            background: none;
                        }
                        
                        button:hover {
                            background-color: #fff;
                            border: solid 2px #fff;
                            color: #111;
                        }
                        /* navigaton styling */
                        
                        .maxwidth {
                            max-width: 1300px;
                            padding: 0 80px;
                            margin: 0px;
                        }
                        
                        .nav-bar {
                            margin-top: 0;
                            position: fixed;
                            width: 100%;
                            height: 100px;
                            /* font-family: "ubuntu", sans-serif; */
                            padding: 30px 0;
                            transition: all 0.3s ease-in-out;
                            z-index: 1111;
                        }
                        
                        .nav-bar.sticky {
                            padding: 20px 0;
                            background: #000000a0;
                        }
                        
                        .nav-bar .maxwidth {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        
                        .logo {
                            display: flex;
                        }
                        
                        .logo img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            /* padding-top: 10px; */
                        }
                        /* .navbar .logo span.drop {
        font-size: 30px;
        font-family: 'Dancing';
    } */
                        
                        .logo .name {
                            width: 190px;
                            height: 20px;
                            color: #fff;
                            font-size: 25px;
                            font-weight: 600;
                            margin: 8px;
                            margin-top: 10px;
                        }
                        
                        .logo span.typing2 {
                            color: #fff;
                        }
                        
                        .nav-bar .menu {
                            margin-right: -10px;
                        }
                        
                        .nav-bar .menu li {
                            display: inline-block;
                            list-style: none;
                            padding: 5px;
                        }
                        
                        .nav-bar .menu li a {
                            color: #fff;
                            font-size: 18px;
                            font-weight: 500;
                            margin-left: 15px;
                            transition: color 0.3s ease;
                            display: block;
                            text-decoration: none;
                        }
                        
                        .nav-bar .menu li a:hover {
                            color: pink;
                        }
                        /* menubtn styling */
                        
                        .menubtn {
                            color: #fff;
                            font-size: 23px;
                            cursor: pointer;
                            display: none;
                        }
                        
                        .menubtn i {
                            margin-left: 30px;
                        }
                        
                        .menubtn .fal {
                            padding: 0px;
                            font-size: 17px;
                        }
                        
                        .menubtn .fal:hover {
                            color: pink;
                        }
                        
                        .home h1 {
                            color: #fff;
                            font-size: 3.5rem;
                            font-weight: 800;
                        }
                        
                        .home h1 span {
                            color: rgb(253, 200, 209);
                        }
                        
                        .home p {
                            color: rgb(240, 235, 233);
                            font-size: 35px;
                            font-weight: 500;
                        }
                        
                        .home {
                            display: flex;
                            background-image: url(/images/shop6.jpg);
                            /* width: 100%; */
                            height: 100vh;
                            min-height: 500px;
                            background-size: cover;
                            background-position: 10px center;
                            color: #fff;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                        }
                        
                        .home .bc {
                            display: flex;
                            background: #000000a0;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            padding-left: 110px;
                        }
                        
                        .home .homecontent p span.typing {
                            color: rgb(253, 200, 209);
                        }
                        
                        .home .homecontent p span {
                            color: white;
                        }
                        /* brands styling */
                        
                        .brands .carousel {
                            width: 100%;
                            padding-left: 30px;
                        }
                        
                        .brands.carousel .box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s ease;
                            padding-left: 0;
                        }
                        
                        .brands .carousel img {
                            width: 200px;
                            height: 150px;
                            object-fit: cover;
                            transition: all 0.3s ease;
                        }
                        /* new section styling */
                        
                        .new {
                            width: 100%;
                        }
                        
                        .new .carousel2 .card {
                            text-align: center;
                            transition: all 0.3s ease;
                            margin-bottom: -400px;
                            border: none;
                        }
                        
                        .new .carousel2 {
                            width: 100%;
                        }
                        
                        .new .carousel2 .box {
                            position: relative;
                        }
                        
                        .new .carousel2 .box .details {
                            /* background: pink; */
                            position: relative;
                            bottom: 400px;
                            width: 100%;
                            height: 400px;
                            transition: all 0.3s ease;
                            color: #fff;
                            background: #000000a0;
                        }
                        
                        .new .carousel2 .box .details:hover {
                            background: none;
                            color: #111;
                        }
                        
                        .new .carousel2 .card .box img {
                            height: 350px;
                            object-fit: cover;
                            z-index: 1;
                        }
                        /* .new .carousel2 .card .box .text span {
        color: #fff;
    } */
                        
                        .new .carousel2 .card .box .text {
                            font-size: 25px;
                            font-weight: 600;
                            z-index: 111;
                            position: absolute;
                            width: 100%;
                            height: 350px;
                            bottom: 0px;
                            transition: all 0.3s ease;
                        }
                        
                        .new .carousel2 .card .box .text p {
                            margin-top: 80px;
                        }
                        
                        .new .carousel2 .card .box .text:hover {
                            height: 500px;
                        }
                        
                        .new .carousel2 .card .box .shop {
                            font-size: 45px;
                            font-weight: 500;
                            z-index: 111;
                            position: absolute;
                            bottom: 70px;
                            left: 30px;
                        }
                        
                        .new .carousel2 .card .box button {
                            background: none;
                            padding: 8.5px;
                            outline: none;
                            border: none;
                            color: #fff;
                            font-size: 15px;
                            font-weight: 600;
                        }
                        
                        .new .carousel2 .card .box button:hover {
                            color: pink;
                        }
                        /* featured styling */
                        
                        .featured .title {
                            font-family: "poppins", sans-serif;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 800;
                            margin-bottom: 60px;
                            padding-top: 60px;
                            position: relative;
                        }
                        
                        .featured .title::before {
                            content: "";
                            position: absolute;
                            text-align: center;
                            width: 3rem;
                            height: 3px;
                            background: rgb(255, 114, 137);
                            margin-top: 40px;
                            margin-left: 40px;
                        }
                        
                        .featured .carousel3 .card {
                            padding-left: 20px;
                            text-align: center;
                            transition: all 0.3s ease;
                            /* background-color: gold; */
                            justify-content: center;
                            align-items: center;
                            border: none;
                        }
                        /* .teams .carousel3 .card .box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s ease;
                    } */
                        
                        .featured .carousel3 .card img {
                            width: 250px;
                            height: 250px;
                            object-fit: cover;
                            transition: all 0.3s ease;
                            cursor: pointer;
                        }
                        
                        .featured .carousel3 .card:hover img {
                            opacity: 0.7;
                        }
                        
                        .featured .carousel3 .card .stars {
                            color: rgb(214, 182, 1);
                            padding-top: 20px;
                        }
                        
                        .featured .carousel3 .card .p-name {
                            font-size: 20px;
                            font-weight: 500;
                            margin: 10px;
                            color: rgb(0, 0, 0);
                        }
                        
                        .featured .carousel3 .card button {
                            font-size: 0.7rem;
                            font-weight: 800;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            padding: 10px 30px;
                            text-transform: uppercase;
                            transition: all 0.3s ease;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            transform: translateY(20px);
                            opacity: 0;
                        }
                        
                        .featured .carousel3 .card:hover button {
                            background: rgb(255, 152, 170);
                            color: #111;
                            transform: translateY(0);
                            opacity: 1;
                        }
                        
                        .featured .owl-dots {
                            text-align: center;
                            margin-top: 10px;
                        }
                        
                        .featured .owl-dot {
                            height: 10px;
                            width: 10px;
                            outline: none;
                            border-radius: 50%;
                            border: 2px solid rgb(255, 170, 184)!important;
                            margin: 20px 5px;
                        }
                        
                        .featured .owl-dot.active {
                            width: 35px;
                            border-radius: 24px;
                        }
                        
                        .owl-dot.active,
                        .owl-dot:hover {
                            background: rgb(255, 197, 207) !important;
                        }
                        /* banner styling section */
                        
                        .banner {
                            background-image: url(/images/ban1.jpg);
                            width: 100%;
                            height: 60vh;
                            background-size: cover;
                            background-position: top 70px center;
                            background-attachment: fixed;
                            background-repeat: no-repeat;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-end;
                            margin-top: 20px;
                            color: #fff;
                        }
                        
                        .banner button {
                            font-size: 0.8rem;
                            font-weight: 700;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            padding: 13px 30px;
                            text-transform: uppercase;
                            transition: all 0.3s ease;
                            border: solid 2px pink;
                            color: rgb(253, 200, 209);
                            background: none;
                            margin-top: 20px;
                        }
                        
                        .banner button:hover {
                            background-color: #fff;
                            border: solid 2px #fff;
                            color: #111;
                        }
                        
                        .banner .content {
                            margin-right: 20px;
                        }
                        /* clothes styling */
                        
                        #clothes .title {
                            font-family: "poppins", sans-serif;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 800;
                            margin-bottom: 10px;
                            padding-top: 60px;
                            position: relative;
                        }
                        
                        #clothes .row .clothes img {
                            width: 250px;
                            height: 250px;
                            object-fit: cover;
                            transition: all 0.3s ease;
                            cursor: pointer;
                        }
                        
                        #clothes .row .clothes:hover img {
                            opacity: 0.7;
                        }
                        
                        #clothes .row .clothes .stars {
                            color: rgb(214, 182, 1);
                            padding-top: 20px;
                        }
                        
                        #clothes .row .clothes.p-name {
                            font-size: 20px;
                            font-weight: 500;
                            margin: 10px;
                            color: rgb(0, 0, 0);
                        }
                        
                        #clothes .row .clothes button {
                            font-size: 0.7rem;
                            font-weight: 800;
                            outline: none;
                            border: solid 2px rgb(255, 108, 132);
                            cursor: pointer;
                            padding: 10px 30px;
                            text-transform: uppercase;
                            transition: all 0.3s ease;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            transform: translateY(20px);
                            opacity: 0;
                        }
                        
                        #clothes .row .clothes:hover button {
                            background: rgb(255, 108, 132);
                            color: #fff;
                            transform: translateY(0);
                            opacity: 1;
                        }
                        
                        footer {
                            background-color: #222;
                            color: #fff;
                        }
                        /* media responsiveness */
                        
                        @media (max-width: 250px) {
                            #clothes .container {
                                margin-left: auto;
                            }
                            #footer.container {
                                margin-right: auto;
                            }
                            .container .row {
                                width: 100%;
                            }
                            .new .carousel2 .card .box .text {
                                width: 97%;
                            }
                            .brands .maxwidth {
                                align-items: center;
                                justify-content: center;
                            }
                            .brands .maxwidth .carousel {
                                width: 100%;
                                padding-left: 0;
                            }
                            .brands.carousel .box {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: all 0.3s ease;
                                padding: 0px;
                                border: none;
                            }
                            .brands .carousel img {
                                width: 220px;
                                height: 150px;
                                object-fit: cover;
                                transition: all 0.3s ease;
                                border: none;
                            }
                        }
                        
                        @media (max-width: 324px) {
                            .featured .carousel3 .card .p-name {
                                margin-top: 15px;
                            }
                            .featured .carousel3 .card button {
                                margin-bottom: 30px;
                            }
                            .featured .owl-dots {
                                text-align: center;
                                margin-top: -20px;
                            }
                            .container {
                                width: 100%;
                            }
                            .container .row img {
                                width: 100px;
                            }
                            .home .homecontent p {
                                font-size: 25px;
                            }
                            /* body {
                            background: crimson;
                        } */
                            /* #footer {
                            width: 324px;
                        }
                        #clothes {
                            width: 324px;
                        }
                        .banner {
                            width: 324px;
                        }
                        .featured {
                            width: 324px;
                        }
                        .new {
                            width: 324px;
                        }
                        .brands {
                            width: 324px;
                        }
                        .navbar {
                            width: 324px;
                        }
                        .home {
                            width: 324px;
                        } */
                            .nav-bar .logo img {
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                            }
                            .nav-bar .logo .name {
                                width: 140px;
                                height: 20px;
                                color: #fff;
                                font-size: 20px;
                                font-weight: 600;
                                /* padding: px; */
                                margin: 15px;
                                margin-left: 4px;
                            }
                            .menubtn {
                                margin-right: 45px;
                            }
                        }
                        
                        @media (max-width: 1300px) {
                            .home .maxwidth {
                                margin-left: 0px;
                            }
                            .services .servicescontent {
                                display: inline-block;
                                padding-left: 50px;
                            }
                            .services .servicescontent .card {
                                width: calc(45% - 20px);
                                margin-bottom: 40px;
                                float: left;
                                margin-left: 20px;
                            }
                        }
                        
                        @media (max-width: 1230px) {
                            .brand .carousel .card img {
                                /* border-radius: 10%; */
                                width: 300px;
                                height: 250px;
                                object-fit: cover;
                                /* border: 5px solid crimson; */
                                transition: all 0.3s ease;
                            }
                        }
                        
                        @media (max-width: 1104px) {
                            .about .aboutcontent .left img {
                                height: 350px;
                                width: 350px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                            .about .aboutcontent .left .next2 {
                                height: 350px;
                                width: 350px;
                                object-fit: cover;
                                border-radius: 6px;
                                position: absolute;
                                margin-left: -340px;
                            }
                            .project .carousel .card img {
                                /* border-radius: 10%; */
                                width: 250px;
                                height: 200px;
                                object-fit: cover;
                                /* border: 5px solid crimson; */
                                transition: all 0.3s ease;
                            }
                        }
                        
                        @media (max-width: 991px) {
                            .maxwidth {
                                padding: 0 50px;
                            }
                            .project .carousel .card img {
                                /* border-radius: 10%; */
                                width: 250px;
                                height: 200px;
                                object-fit: cover;
                                /* border: 5px solid crimson; */
                                transition: all 0.3s ease;
                            }
                        }
                        
                        @media (max-width: 947px) {
                            .menubtn {
                                display: block;
                            }
                            .menubtn i.fas.active:before {
                                content: "\f00d";
                                margin-top: -20px;
                            }
                            .nav-bar .menu {
                                position: fixed;
                                background: #000000f1;
                                height: 110vh;
                                width: 75%;
                                left: -100%;
                                top: 0;
                                text-align: center;
                                padding-top: 40px;
                                transition: all 0.3s ease;
                            }
                            .nav-bar .menu.active {
                                left: 0;
                            }
                            .nav-bar .menu li {
                                display: block;
                            }
                            .nav-bar .menu li a {
                                display: inline-block;
                                margin: 10px 0;
                                font-size: 20px;
                            }
                            .nav-bar .menu li i.fal {
                                display: inline-block;
                                /* margin: 20px 0; */
                                font-size: 20px;
                            }
                            .home .homecontent h1 {
                                font-size: 40px;
                            }
                            .home .homecontent p {
                                font-size: 25px;
                            }
                            .maxwidth {
                                max-width: 800px;
                            }
                            .about .aboutcontent .left {
                                /* display: flex; */
                                justify-content: center;
                                align-items: center;
                                margin: 0px auto 60px 12%;
                            }
                            .about .aboutcontent .right {
                                flex: 100%;
                            }
                            .about .aboutcontent .column {
                                width: 100%;
                            }
                            .contact .contactcontent .column,
                            .skills .skillscontent .column {
                                width: 100%;
                                margin-bottom: 40px;
                                margin-left: 0;
                            }
                        }
                        
                        @media (max-width: 690px) {
                            .maxwidth {
                                padding: 0 23px;
                            }
                            .home .bc {
                                /* font-size: 40px; */
                                padding-left: 30px;
                                padding-top: 80px;
                            }
                            .home .homecontent p {
                                font-size: 18px;
                                padding: 5px 25px;
                            }
                            .services .servicescontent {
                                margin-right: 30px;
                            }
                            .services .servicescontent .card {
                                width: 100%;
                                float: left;
                                margin-left: 0;
                            }
                            .project .carousel .card img {
                                /* border-radius: 10%; */
                                width: 200px;
                                height: 150px;
                                object-fit: cover;
                                /* border: 5px solid crimson; */
                                transition: all 0.3s ease;
                            }
                            .about .aboutcontent .left img {
                                height: 200px;
                                width: 200px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                            .about .aboutcontent .left:hover img {
                                transform: scale(1.08);
                                box-shadow: none;
                            }
                        }
                        
                        @media (max-width: 598px) {
                            .project .carousel .card img {
                                /* border-radius: 10%; */
                                width: 350px;
                                height: 300px;
                                object-fit: cover;
                                /* border: 5px solid crimson; */
                                transition: all 0.3s ease;
                            }
                            .banner .content h1 {
                                font-size: 2.5rem;
                                font-weight: 600;
                            }
                        }
                        
                        @media (max-width: 500px) {
                            .home .homecontent h1 {
                                font-size: 35px;
                            }
                            .home .homecontent p {
                                font-size: 16px;
                            }
                            .home .homecontent a {
                                font-size: 20px;
                                padding: 8px 20px;
                            }
                        }
                        
                        @media (max-width: 400px) {
                            .about .aboutcontent .left .next2 {
                                object-fit: cover;
                                border-radius: 6px;
                                display: none;
                            }
                            .about .aboutcontent .left {
                                display: flex;
                                justify-content: center;
                                margin: 0px auto 60px;
                            }
                            .banner .content {
                                margin-left: 20px;
                            }
                        }
                        
                        @media (max-width: 420px) {
                            body {
                                width: 420px;
                            }
                        }